
$image-radius: $radius-large;


@mixin sizingImage($width, $height) {
  $w: $width + "px";
  $h: $height + "px";

  .is-#{$width}x#{$height} {
    width: #{$w};
    height: #{$h};
  }
}

.b-image-wrapper.image {
  &.border-radius {
    img {
      border-radius: $image-radius;
    }
  }
}

@include sizingImage(50, 50);
@include sizingImage(120, 120);
@include sizingImage(140, 140);
